.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    html {
      box-sizing: border-box;
    }

    *,
    *::after,
    *::before {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }
    header {
      position: absolute;
      width: 100vw;
      z-index: 3;
    }

    .nav-bar {
      display: flex;
      align-items: center;
    }


    .navigation {
      display: none;
      flex-grow: 1;
      height: 40px;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;
      background-color: white;
    }

    a {
      text-decoration: none;
      color: black;
    }

    h1 {
      width: 90%;
      height: 40px;
      text-align: center;
      color: white;
      background-image: url("images/bansuri.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position:center;
    }

    .menu {
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-image: url("images/icon-hamburger.svg");
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
      border: none;
      cursor: pointer;
    }

    .close {
      background-image: url("images/icon-close.svg");
      background-color: white;
      background-size: 15px;
    }

    .closeHeading {
      display: none;
    }

    .navigate {
      display: flex;
    }

    /* slides */
    .slides {
      display: none;
    }

    img {
      width: 100%;
    }

    .slides .description {
      width: 80%;
      margin: auto;
      margin-top: 20px;
    }

    .description p {
      margin-top: 15px;
    }

    .description a {
      display: block;
      width: 150px;
      margin-top: 20px;
      letter-spacing: 5px;
      font-size: 18px;
      font-weight: normal;
    }

    i {
      vertical-align: middle;
    }

    /* buttons for sliding */
    .buttons {
      display: flex;
      position: absolute;
      top: 60vh;
      right: 0;
    }
    .buttons>* {
      background-color: black;
      color: white;
      width: 60px;
      height: 40px;
      border: none;
      cursor: pointer;
    }

    .buttons>*:hover {
      background-color: grey;
    }

    .last-section {
      margin-top: 100px;
    }

    .footer {
      margin-top: 20px;
    }

    @media (min-width:580px) {
      header {
        width: 50%;
      }

      h1 {
        width: 30%;
        padding-top: 5px;
      }
      .nav-bar {
        display: flex;
      }
      .navigation {
        display: flex;
        flex-grow: 1;
        background-color: transparent;
      }

      .navigation a {
        color: white;
      }

      .menu {
        display: none;
      }
      .container {
        display: flex;
      }

      .container img {
        width: 60%;
        height: 70vh;
      }

      .container .description {
        width: 30%;
        margin: auto;
      }

      .last-section {
        margin-top: 0px;
      }
    }

    @media (min-width:700px) {
      .last-section {
        display: flex;
        flex-wrap: nowrap;
      }

      .last-section .description {
        padding: 50px;
        align-self: center;
      }
      .footer {
      margin-top: 0px;
    }
    }
